.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.task-item span {
  display: inline-block;
  margin-right: 10px;
}

.task-item span:last-child {
  margin-right: 0;
}
